<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	<div class="container">
		<a class="navbar-brand" href="#">Vicentinos SDR</a>

		<ul
			class="navbar-nav mr-auto mb-2 mb-md-0"
			*ngIf="accountService.currentUser$ | async"
		>
			<li class="nav-item">
				<a class="nav-link" href="#">Familias</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Comida</a>
			</li>
		</ul>

		<div
			class="dropdown"
			*ngIf="accountService.currentUser$ | async"
			dropdown
		>
			<a class="dropdown-toggle text-light" dropdownToggle
				>Bem-vindo user</a
			>
			<div class="dropdown-menu mt-2" *dropdownMenu>
				<a class="dropdown-item">Editar Perfil</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" (click)="logout()">Sair</a>
			</div>
		</div>
		<!-- #loginForm is a template reference variable -->
		<form
			#loginForm="ngForm"
			class="d-flex"
			(ngSubmit)="login()"
			autocomplete="off"
			*ngIf="(accountService.currentUser$ | async) === null"
		>
			<!-- [()] => banana in a box / 2-way binding -->
			<!-- [] => receiving from the component -->
			<!-- () => submiting to the component -->
			<input
				name="username"
				[(ngModel)]="model.username"
				class="form-control me-2"
				type="text"
				placeholder="Nome de Utilizador"
			/>
			<input
				name="password"
				[(ngModel)]="model.password"
				class="form-control me-2"
				type="password"
				placeholder="Palavra Passe"
			/>
			<button class="btn btn-outline-success" type="submit">
				Entrar
			</button>
		</form>
	</div>
	<!--   <div class="container-fluid">
  </div> -->
</nav>
